*{margin: 0;padding: 0;box-sizing: border-box;}
body{font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;font-size: 14px;line-height: 24px;}
ol,ul{list-style: none;}
a{text-decoration: none;}
.sidebar{width: 23%;height: 100%;background-color: #5f6d7e;position: fixed; float: left;color: #fff;}
.rightbar{width: 77%;float: right;}
.top-section{padding: 40px;}
.profile-image{width: 150px;height: 150px;border: 4px solid #fff;overflow: hidden; border-radius: 50%;margin-bottom: 20px;}
img{border: 0;}
.profile-image img{width: 100%;}
h3.profile-title{margin-bottom: 5px;color: white;font-size: 18px;}
.main-navigation{margin: 30px 0;}
.main-navigation li a{display: block;color: white;font-size: 14px;padding: 15px 40px;}
.main-navigation a.active{background: #495461;}
.main-navigation a.active:hover{background: #495461;}
.main-navigation li a:hover {background: #5b6878;}
.main-navigation li a i{margin-right: 15px;font-size: 24px;}

.fa{display:inline-block;font: normal normal normal 14px/1 FontAwesome;}
.social-icons{padding: 30px 40px;}
.social-icons li{margin-right: 20px;display: inline-block;}
.social-icons a{color: white;font-size: 18px;}
